/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --White: #fff;
  --Bronze: #cf7a37;
  --Davys-Gray: #5c564a;
  --Eerie-Black: #1e1e1e;
  --Brand-White: #fafafa;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

p {
  font-family: Open Sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 180%;
}

button {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  color: var(--Brand-White);
  border: 2px solid #fafafa;
  background-color: transparent;
  border-radius: 0.25rem;
}

a {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

a:active {
  color: var(--Bronze);
}

body {
  max-width: 100vw;
  background-color: var(--Brand-White);
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.5rem 4.5rem 1.5rem 4.5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header img.logo-white {
  max-height: 4rem;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
header nav ul li a {
  color: var(--Brand-White);
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
}
main section.hero-home {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  background-image: url(../media/images/Hero\ Image.png);
  background-size: cover;
  background-position: center 0;
  height: 100vh;
  border: 2rem solid var(--Brand-White);
  gap: 1rem;
}
main section.hero-home div.hero-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
main section.hero-home div.hero-cta a {
  color: inherit;
}
main section.hero-home div.hero-cta button.fill {
  background-color: var(--Brand-White);
  color: var(--Eerie-Black);
}
main section.about-us {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
main section.about-us img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.about-us div.about-us-home {
  padding: 6rem;
  color: var(--Eerie-Black);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
main section.about-us div.about-us-home button {
  color: var(--Eerie-Black);
  border: 2px solid var(--Eerie-Black);
  width: -moz-max-content;
  width: max-content;
}
main section.our-story {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  background-color: var(--Bronze);
}
main section.our-story img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.our-story div.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--Brand-White);
  padding: 6rem;
}
main section.our-story div.about-us-content button {
  color: var(--Brand-White);
  border: 2px solid var(--Brand-White);
  width: -moz-max-content;
  width: max-content;
}
main section.gluten-free-cta {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
main section.gluten-free-cta .gluten-free {
  position: relative;
  color: var(--Brand-White);
  background-image: url(../media/images/Kitchen\ Sign.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 4.5rem;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
  box-sizing: border-box;
}
main section.gluten-free-cta .gluten-free::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
main section.gluten-free-cta div.gluten-free-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--Brand-White);
  max-width: 64rem;
  justify-content: center;
}
main section.gluten-free-cta .gluten-free h3,
main section.gluten-free-cta .gluten-free p {
  position: relative;
  color: var(--Brand-White);
  z-index: 1; /* to make text appear above the overlay */
}
main section.gluten-free-cta .gluten-free button {
  position: relative;
  z-index: 1; /* to make button appear above the overlay */
  background-color: transparent;
  color: var(--Brand-White);
  border: 2px solid var(--Brand-White);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: -moz-max-content;
  width: max-content;
}
main section.gluten-free-cta .gluten-free button:hover {
  background-color: var(--Brand-White);
  color: black;
}
main section.gluten-free-cta div.cta-div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 4.5rem 4.5rem;
  color: var(--Brand-White);
  align-items: end;
  justify-content: center;
  background-color: var(--Eerie-Black);
  text-align: right;
  max-width: 50%;
  box-sizing: border-box;
}
main section.gluten-free-cta div.cta-div button {
  max-width: -moz-max-content;
  max-width: max-content;
  border: none;
  color: #cf7a37;
}